<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="page">
		<div id="nav">
			<a href="../"><img src="images/world50x50.png"></a>
		</div>
		
		<div id="books">
			<div id="header">
				<div id="search"> 
					<!-- search form -->

					<form method="post" action="/books" id="search_form">
		  				<input name="q" type="text" size="40" placeholder="Book..." />
					</form>
				</div>
			</div>

			<div id="main-content">
				<% for(var i=0; i < items.length; i++) {%>
		   		<li><%= items[i].volumeInfo.title %></li>
				<% } %>
			</div>
		</div>
	</div>
  </body>
</html>